.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 300px;
    height: 375px;
}
.input-area{
    grid-column-start: 1;
    grid-column-end:5 ;
}
.number{
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
}
.zero{
    grid-column-start: 1;
    grid-column-end: 3;
}
.plus{
    grid-column-start:4 ;
    grid-row-start: 4;
    grid-row-end: 6;
}